lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore yarn.lock
yarn.lock

cypress.config.ts
cypress/plugins/index.ts
cypress/support/commands.ts
cypress/support/e2e.ts
jest.config.ts
setup/

tsconfig.jest.json
tsconfig.eslint.json
tsconfig.json
tsconfig.paths.json
vite.config.ts


# src/~
src/**/__tests__/*
src/**/tests/*
src/**/__mocks__/*
src/**/**.stories.tsx
src/**/**.test.ts
src/**/**.test.tsx
src/**/**.d.ts
