@tailwind components;

@layer components {
  .sectionBox {
    @apply bg-white max-w-screen-2xl px-4 md:px-8 mx-auto
  }


  .sectionHeader {
    @apply flex justify-between items-end gap-4 mb-6
  }
  .sectionTitle {
    @apply text-gray-800 text-xl lg:text-2xl font-bold
  }

  .sectionMore {
    @apply inline-block bg-white hover:bg-gray-100 active:bg-gray-200 focus-visible:ring
    ring-indigo-300 border text-gray-500 text-sm md:text-base font-semibold text-center
    rounded-lg outline-none transition duration-100 px-4 md:px-8 py-2 md:py-3
  }
}
